apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  # Nome do recurso ExternalSecret (não é o nome da Secret criada)
  name: zitadel
  # Namespace onde o ExternalSecret e a Secret serão criados
  namespace: zitadel
spec:
  # Intervalo de atualização para sincronizar com o Vault
  refreshInterval: "15s"
  secretStoreRef:
    # Nome do SecretStore que aponta para o Vault
    name: vault-backend
     # Tipo do SecretStore (pode ser ClusterSecretStore também)
    kind: ClusterSecretStore
  target:
    # Nome da Secret do Kubernetes que será criada com os dados do Vault
    name: zitadel
  data:   
    # Nome da chave dentro da Secret do Kubernetes (ex: será montada como um arquivo se usado como volume)
    - secretKey: ZITADEL_DATABASE_POSTGRES_DATABASE
      remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde está o segredo
        key: infra/zitadel
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: database-name
        
    # Nome da chave dentro da Secret do Kubernetes (ex: será montada como um arquivo se usado como volume)
    - secretKey: ZITADEL_DATABASE_POSTGRES_USER_USERNAME
      remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde está o segredo
        key: infra/zitadel
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: database-user-username
        
    # Nome da chave dentro da Secret do Kubernetes (ex: será montada como um arquivo se usado como volume)
    - secretKey: ZITADEL_DATABASE_POSTGRES_USER_PASSWORD
      remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde está o segredo
        key: infra/zitadel
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: database-user-password
        
    # Nome da chave dentro da Secret do Kubernetes (ex: será montada como um arquivo se usado como volume)
    - secretKey: ZITADEL_DATABASE_POSTGRES_ADMIN_EXISTINGDATABASE
      remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde está o segredo
        key: infra/zitadel
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: database-name
        
    # Nome da chave dentro da Secret do Kubernetes (ex: será montada como um arquivo se usado como volume)
    - secretKey: ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME
      remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde está o segredo
        key: infra/zitadel
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: database-admin-username
        
    # Nome da chave dentro da Secret do Kubernetes (ex: será montada como um arquivo se usado como volume)
    - secretKey: ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD
      remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde está o segredo
        key: infra/zitadel
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: database-admin-password