apiVersion: external-secrets.io/v1beta1
kind: ClusterExternalSecret
metadata:
  name: cloudflared
spec:
  # The name to be used on the ExternalSecrets
  externalSecretName: cloudflared

  namespaces:
    - cert-manager-system
    - infrastructure

  # How often the ClusterExternalSecret should reconcile itself
  # This will decide how often to check and make sure that the ExternalSecrets exist in the matching namespaces
  refreshTime: "15s"

  # This is the spec of the ExternalSecrets to be created
  # The content of this was taken from our ExternalSecret example
  externalSecretSpec:
    secretStoreRef:
      name: vault-backend
      kind: ClusterSecretStore

    # RefreshPolicy determines how the ExternalSecret should be refreshed:
    # - CreatedOnce: Creates the Secret only if it does not exist and does not update it afterward
    # - Periodic: (default) Synchronizes the Secret at intervals specified by refreshInterval
    # - OnChange: Only synchronizes when the ExternalSecret's metadata or specification changes
    refreshPolicy: Periodic

    refreshInterval: "1h0m0s"
    target:
      name: cloudflared
    data:   
    # Nome da chave dentro da Secret do Kubernetes (ex: ser치 montada como um arquivo se usado como volume)
      - secretKey: token
        remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde est치 o segredo
        key: infra/cloudflared
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: token
        
    # Nome da chave dentro da Secret do Kubernetes (ex: ser치 montada como um arquivo se usado como volume)
      - secretKey: dns-api-token
        remoteRef:
        # Caminho no Vault (sem o prefixo 'kv/data/') onde est치 o segredo
        key: infra/cloudflared
        # Nome da chave dentro da secret do Vault (ex: se seu JSON estiver salvo no campo 'JSON')
        property: dns-api-token

# status:
#   # This will list any namespaces where the creation of the ExternalSecret failed
#   # This will not list any issues with the ExternalSecrets, you will have to check the
#   # ExternalSecrets to see any issues with them.
#   failedNamespaces:
#     - namespace: "matching-ns-1"
#       # This is one of the possible messages, and likely the most common
#       reason: "external secret already exists in namespace"

#   # You can find all matching and successfully deployed namespaces here
#   provisionedNamespaces:
#     - "matching-ns-3"
#     - "matching-ns-2"

#   # The condition can be Ready, PartiallyReady, or NotReady
#   # PartiallyReady would indicate an error in 1 or more namespaces
#   # NotReady would indicate errors in all namespaces meaning all ExternalSecrets resulted in errors
#   conditions:
#   - type: PartiallyReady
#     status: "True"
#     lastTransitionTime: "2022-01-12T12:33:02Z"