apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault-backend
  namespace: external-secrets
spec:
  provider:
    vault:
      server: "http://hashicorp-vault.infra.svc.cluster.local:8200"
      path: kv
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: k8s-role
          serviceAccountRef:
              name: external-secrets
              namespace: external-secrets
        # tokenSecretRef:
        #   name: "vault-secret"
        #   key: "token"
        #   namespace: infra
