name: pi-hole
repoURL: https://oprimogus.github.io/helm-charts
targetRevision: 0.1.0
chart: generic-application
namespace: pi-hole
values: |
    name: pi-hole
    environment: prd    
    image:
      repository: pihole/pihole
      tag: 2025.11.1
      pullPolicy: Always
    resources:
      min:
        cpu: 100m
        memory: 128Mi
      max:
        cpu: 500m
        memory: 256Mi
      autoscaling:
        enable: true
        minReplicas: 1
        maxReplicas: 2
        targetCPUUtilizationPercentage: 80
        targetMemoryUtilizationPercentage: 80
    env:
        TZ: America/Sao_Paulo
    service:
      enabled: true
      type: ClusterIP
      ports:
        - name: http
          port: 80
          targetPort: 80
          protocol: TCP
        - name: dns1
          port: 53
          targetPort: 53
          protocol: TCP
        - name: dns2
          port: 53
          targetPort: 53
          protocol: UDP
        - name: https
          port: 443
          targetPort: 443
          protocol: TCP

        




