apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: database
  namespace: argocd
spec:
  description: Database Apps
  sourceRepos:
      - https://github.com/oprimogus/oprimoguslab-gitops.git
  destinations:
    - namespace: 'cnpg'
      server: https://kubernetes.default.svc

  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  namespaceResourceBlacklist:
    - group: '*'
      kind: 'Event'
  # roles:
  #   - name: my-role
  #     description: My role description
  #     policies:
  #       - p, proj:my-app-project:my-role, applications, get, my-app-*, allow
  #     groups:
  #       - my-group