apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: operators
  namespace: argocd
spec:
  description: Operators
  sourceRepos:
    - https://github.com/oprimogus/oprimoguslab-gitops.git
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc

  namespaceResourceBlacklist:
    - group: '*'
      kind: '*'
      namespace: argocd
    - group: '*'
      kind: '*'
      namespace: system
    - group: '*'
      kind: '*'
      namespace: kube-system
  # roles:
  #   - name: my-role
  #     description: My role description
  #     policies:
  #       - p, proj:my-app-project:my-role, applications, get, my-app-*, allow
  #     groups:
  #       - my-group